.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.innerbox{
    border: 1px solid #aad0e1;
    background-color: rgb(244, 226, 193);
    padding: 46px;
    width: 70vh;
    margin-top: auto;
}

.input{
    height: 20px;
    width: 70%;
    border: none;
    border-bottom: 2px solid #6b4e4e;
}

.button{
    background-color: #4caf50;
    color: rgb(134, 44, 44);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button2{
    background-color: palevioletred;
    color: aquamarine;
    font-size: 30px;
    width: 40px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}
.innerbox >h4{
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1{
    display: flex;
    justify-content: center;
}

.box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-edit{
    background-color: #4caf50;
    color: rgb(167, 34, 34);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}